{% extends "layout.html" %} {% block body %}

<div class="section">
  <h1 class="title is-1">Log In</h1>
</div>

<div class="container">
  <form class="box" action="/login" method="POST" id="login-form">
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input
          class="input"
          type="text"
          name="username"
          placeholder="Enter your username"
        />
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input
          class="input"
          type="password"
          name="password"
          placeholder="********"
        />
      </div>
    </div>

    <button type="submit" value="Submit" class="button is-primary">
      Log in
    </button>
  </form>
</div>

<div class="section">
  <p>
    Dont have an account?
    <a href="/signup">
        <strong><u>Sign Up!</u></strong>
    </a>
  </p>
</div>

{% endblock %}
